.transaction-list {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 80%;
  background-color: #f4f4f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #6200ea;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

tr:hover {
  background: #e0e0ff;
  transform: scale(1.01);
  transition: 0.2s ease;
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}
