.balance-total {
  display: flex;
  justify-content: center;
  min-height: 89px;
  margin: 0 2rem;
  gap: 30px;
  flex-wrap: wrap;
}

.balance-total .total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-light);
  color: white;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.balance-total .total h4 {
  font-weight: 300;
}

.total.oculto {
  display: none;
}

.balance-total .total span {
  font-size: 25px;
  font-weight: 500;
}

.balance-total .total.positivo {
  background-color: rgb(119, 179, 119);
}

.balance-total .total.negativo {
  background-color: rgb(241, 111, 111);
}

@media screen and (max-width: 600px) {
  .balance-total {
    margin: 0 10px;
  }

  .balance-total .total {
    width: 150px;
  }
}
