.balance-total {
  display: flex;
  justify-content: center;
  height: 89px;
  margin: 0 2rem;
  gap: 20px;
}

.balance-total .total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-light);
  color: white;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.balance-total .total h4 {
  font-weight: 300;
}

.balance-total .total span {
  font-size: 25px;
  font-weight: 500;
}

.balance-total .vacío {
  display: none;
}
