header {
  display: flex;
  flex-direction: flex-start;
  background-color: #4b02b0;
  color: white;
  padding: 1rem 5rem;
}

select[name="monthSelected"] {
  background-color: var(--color-light);
  border: none;
  color: white;
  font-size: 23px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 20px;
  padding: 0 10px;
}
