.transaction-list {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  width: 100%;
}

.resultados-tabla table {
  margin-bottom: 30px;
}

.type {
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}

.type.ingreso {
  color: green;
}

.type.egreso {
  color: rgb(240, 15, 15);
}


