.dashboard h1 {
  text-align: center;
  margin-bottom: 50px;
}

.dashboard-mensual {
  margin: 0px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "chart1 chart2"
    "chart3 chart4";
}

.chart {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.chart.ingresos {
  grid-area: chart1;
}

.chart-egresos {
  grid-area: chart2;
}

.chart.bar {
  grid-area: chart3;
}

@media screen and (max-width: 1100px) {
  .dashboard-mensual {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "chart1"
      "chart2"
      "chart3";
    margin: 0;
  }
}
