.type {
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}

.type.ingreso {
  color: green;
}

.type.egreso {
  color: rgb(240, 15, 15);
}

button {
  border: none;
  background-color: transparent;
}

.acciones {
  display: flex;
  gap: 10px;
}

button i {
  color: blueviolet;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button i:hover {
  transform: scale(1.4);
}
