.manage-categories {
  display: flex;
  padding-left: 12%;
  gap: 25px;
}

.manage-categories .btn-categorias {
  border: 2px solid var(--color-primary);
  color: var(--color-text);
  font-weight: 700;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.manage-categories .btn-categorias:hover {
  background-color: var(--color-fondo);
  transform: translateY(-3px);
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.534);
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.modal h1 {
  margin-bottom: 20px;
  align-self: flex-start;
}

.modal form {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}

.modal .btn-cerrar {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal .btn-cerrar i {
  font-size: 25px;
}

.modal table {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .modal table {
    width: 100%;
  }

  .modal {
    width: 90%;
    border-radius: 0px;
    justify-content: center;
  }

  .modal form {
    flex-direction: column;
  }

  .modal form input,
  .modal form select,
  .modal form button {
    width: 226px;
  }

  .modal form input {
    width: 193px;
  }

  .manage-categories {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
    margin-bottom: 50px;
  }

  .modal .btn-cerrar {
    right: 30px;
  }

  .modal .btn-cerrar i {
    font-size: 35px;
  }
}
