.presupuesto {
  position: relative;
}

.presupuesto .modal {
  justify-content: flex-start;
}

.presupuesto .modal form {
  margin-bottom: 40px;
}

.presupuesto .btn-gestion-budget {
  position: absolute;
  width: 90%;
  bottom: -25px;
  padding: 5px 0px;
  color: var(--color-primary);
  cursor: pointer;
}
